.calibrationPoint {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    pointer-events: auto;
    user-select: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid grey;
    -webkit-user-select: none; /* Safari, Chrome */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer */
    user-select: none;         /* Standard */
}